<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">STORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ng-container *ngIf="authenticated else notauthenticated">
        <ng-container *ngIf="role === 'ADMIN' else USER">
          <div class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" aria-current="page" [routerLink]="['']" >Inicio</a>
          <li>
            <a class="nav-link"><span class="nav-item">{{firstname}}</span></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" aria-current="page" [routerLink]="['categories']" >Categorías</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" aria-current="page" [routerLink]="['items']" >Artículos</a>
          </li>
          <li>
            <a class="nav-link"><span class="nav-item" [routerLink]="['']" (click)="logoutUser()">Logout</span></a>
          </li>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</nav>

<ng-template #notauthenticated>
  <div class="navbar-nav">
  <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a class="nav-link" aria-current="page" [routerLink]="['']" >Inicio</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a class="nav-link" aria-current="page" [routerLink]="['shop']" >Tienda</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <a class="nav-link" aria-current="page" [routerLink]="['login']" >Acceso</a>
  </li>
  </div>
</ng-template>

<ng-template #USER>
  <div class="navbar-nav">
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" aria-current="page" [routerLink]="['']" >Inicio</a>
    </li>
    <li>
      <a class="nav-link"><span class="nav-item">{{getName()}}</span></a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" aria-current="page" [routerLink]="['shop']" >Tienda</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" aria-current="page" [routerLink]="['wishlist']" >Favoritos</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" aria-current="page" [routerLink]="['cart']" >Carrito</a>
    </li>
    <li>
      <a class="nav-link"><span class="nav-item" [routerLink]="['']" (click)="logoutUser()">Logout</span></a>
    </li>
  </div>
</ng-template>





